h1{
  font-size:50px;
  
  color: #016064;
    
   
}

body {
  Background-color: #c1e7e5;
    
  }
  img {
      border: dotted 4px #36758B;
}
        
img:hover {
 border: dashed 2px pastelpurple;
}

h1:hover{
  color: white;
  font-size: 80px;
}

nav {
list- style-type: none;
position: fixed;
background-color:antiquewhite;
top: 0;
width: 100%;
Left: 0;
}
li {
display: inline;
 padding:10px;
float:right;
}
li:hover {
  Background-color:peach;
}

a{ text-decoration:none;
  color:Salmon;}
